################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/Debug/net6.0
/src/obj
*.nuspec~
*.nupkg
/src/bin/Release/net6.0
